:root {
  --primary-color: #79b4b7;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  background-color: #fefbf3;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.container {
  margin: 0 auto;
  padding: 15px;
}

h1,
h2 {
  text-align: center;
}

h1 {
  font-weight: bold;
  font-size: 96px;
}

h2 {
  opacity: 0.7;
}

.hero {
  background-color: #f8f0df;
  padding: 15px;
  margin-bottom: 25px;
}

.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.primary-link:hover {
  color: #3a3845;
}
